{% extends "layouts/default.html" %}
{% block content %}

<div class="container my-3">
  <form hx-post="/create-token" hx-target="#token-display">
    <label for="formSubject" class="form-label">Subject:</label>
    <input class="form-control" type="text" name="subject">
    <label for="formScopes" class="form-label">Scopes:</label>
    <input class="form-control" type="text" name="scopes">
    <br />
    <button class="btn">Mint Token</button>
  </form >
  <hr>
  <div id="token-display" class="my-3">
    JWT will be displayed here!
  </div>
</div>

{% endblock %}
